@import "_variables";

@font-face {
    font-family: "icofont";
    src: url("../assets/icons/icofont.css"),
      url("../assets/icons/icofont.min.css");
    font-weight: normal;
    font-style: normal;
  }
.actu-title{
    width: 100%;
    text-align: center;
    color: $orangeHexa;
    margin-top: 100px;
  }
.actu{
    width: 100%;
    margin:20px 0 100px 0 ;
    display: flex;
    justify-content: center;
    aside{
        width: 100%;
        max-width: 1200px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        article{
            width: 300px;
            display: flex;
            flex-direction: column;
            .img-card{
                width: 100%;
                height: 300px;
                object-fit: cover;
                box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
            }
            .dateCrea{
              color: $grisHexa;
            }
            .title-card{
              color: $gray;
              font-size: 18px;
            }
            .link-card{
                width: 100%;
                height: 30px;
                background: $orangeHexa;
                text-decoration: none;
                color: white;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 20px;
            }
        }
    }
}


@media screen and (orientation: portrait){
  .actu{
    aside{
      justify-content: center;
      article{
        margin-top:40px;
      }
    }
  }
}