@import "_variables";

@font-face {
    font-family: "icofont";
    src: url("../assets/icons/icofont.css"),
      url("../assets/icons/icofont.min.css");
    font-weight: normal;
    font-style: normal;
  }


.content-form{
  width: 100%;
  padding-top:50px;
    #formulaire{
        display:flex ;
        flex-direction: column;
        justify-content: space-around;
        margin:150px auto ;
        background: $backgroundBlancCasse;
        width: 700px;
        height: 400px;
        box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
        border: 10px solid white;
        padding: 40px;
        .input-contact{
          border: none;
          height: 40px;
        }
        .area-contact{
          border: none;
          height: 80px;
        }
        .container-btn{
          width: 100%;
          height: 40px;
          display: flex;
          justify-content: center;
          .contact-btn{
            width: 200px;
            height: 100%;
            margin: auto;
            border: none;
            background: $orangeHexa;
            color: $white;
            text-transform: uppercase;
          }
        }
        .user-cannot-see{
            display: none;
        }
    }
}

@media screen and (orientation: portrait){
  .content-form{
      #formulaire{
          width: 100%;
          height: 600px;
          margin: 80px auto;
      }
  }
}