@import "_variables";

@font-face {
    font-family: "icofont";
    src: url("../assets/icons/icofont.css"),
      url("../assets/icons/icofont.min.css");
    font-weight: normal;
    font-style: normal;
  }


  figure{
    width: 100%;
    height: 710px;
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
    margin-bottom: 100px;
    .colororange{
        width: 50%;
        height: 710px;
        background: $orangeHexa;
        position: absolute;
    }
    figcaption{
        width: 100%;
        height: 100%;
        display: flex;
        .img-accueil{
            width: 45%;
            height: 500px;
            display: flex;
            align-items: flex-end;
            border: 10px solid white;
            position: absolute;
            margin-top: 130px;
            margin-left: 10vw;
            .divdeco{
                width: 100%;
                max-width: 140px;
                height: 140px;
                background: $orangeHexa;
                margin-left: -10px;
                margin-bottom: -10px;
            }
            img{
                object-fit: cover;
                width: 100%;
                height: 100%;
                position: absolute;
            }
        }
        .text-accueil{
            width: 100%;
            max-width: 32vw;
            height: 400px;
            border: 10px solid $white;
            position: absolute;
            margin-top: 180px;
            margin-left: 50vw;
            box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
            background: $backgroundBlancCasse;
            display: flex;
            flex-direction: column;
            .logo-phone{
                display: none;
            }
            .texthaut{
                font-size: 42px;
                text-transform: uppercase;
                color: $orangeHexa;
                margin-left: 70px;
                margin-top: 70px;
            }
            .textbas{
                font-size: 42px;
                text-transform: uppercase;
                color: rgb(98, 98, 98);
                margin-left: 140px;
                margin-top: 20px;
            }
        }
    }
}



@media screen and (orientation: portrait){
    figure {
        figcaption{
            .img-accueil{
                width: 80%;
            }
            .text-accueil{
                width: 100%;
                max-width: 100%;
                height: 300px;
                margin-top: 60px;
                margin-left: 0vw;
                opacity: 0.7;
                overflow: hidden;
                .logo-phone{
                    display: block;
                    object-fit: cover;
                    position: absolute;
                    width: 200px;
                    margin-top: 25px;
                }
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    figure{
        figcaption{
            .text-accueil{
                .texthaut{
                    font-size: 35px;
                    margin-left: 30px;
                }
                .textbas{
                    font-size: 35px;
                    margin-left: 100px;
                }
            }
        }
    }
  }

  @media screen and (max-width: 1100px) {
    figure{
        figcaption{
            .text-accueil{
                .textbas{
                    margin-left: 70px;
                }
            }
        }
    }
  }