@import "_variables";

@font-face {
    font-family: "icofont";
    src: url("../assets/icons/icofont.css"),
      url("../assets/icons/icofont.min.css");
    font-weight: normal;
    font-style: normal;
}

footer{
  width: 100%;
  background: $grisHexa;
  .section-footer{
    margin: auto;
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
    .raccourcis{
      display: flex;
      flex-direction: column;
      .h3-raccourcis{
        width: 100%;
        text-align: center;
        color: $orangeHexa;
      }
      a{
        color: white;
        text-decoration: none;
      }
      a:hover{
        color: $orangeHexa;
      }
    }
    .footer-logo{
      display: flex;
      flex-direction: column;
      .h3-logo{
        width: 100%;
        text-align: center;
        color: $orangeHexa;
      }
      .logo-footer{
        margin-top: 20px;
      }
    }
    .contact{
      display: flex;
      flex-direction: column;
      .h3-contact{
        width: 100%;
        text-align: center;
        color: $orangeHexa;
      }
      .p-contact{
        color: white;
      }
    }
    div{
      width: 300px;
      height: 300px;
      margin-top: 100px;
      border-top: 1px solid $orangeHexa;
      img{
        width: 100%;
        object-fit: cover;
      }
    }
}
}


@media screen and (orientation: portrait){
footer{
  .section-footer{
    justify-content: center;
  }
  }
}