@import "_variables";

@font-face {
    font-family: "icofont";
    src: url("../assets/icons/icofont.css"),
      url("../assets/icons/icofont.min.css");
    font-weight: normal;
    font-style: normal;
  }
header{
    width: 100%;
    height: 80px;
    padding: 0 50px 0 50px;
    position: fixed;
    z-index: 100;
    top: 0;
    background: white;
       nav{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        li{
            list-style: none;
            height: 100%;
            display: flex;
            align-items: center;
            a{
                height: 100%;
                display: flex;
                align-items: center;
                text-transform: uppercase;
            }
            .sous-menu{
                top: 80px;
                list-style: none;
                flex-direction: column;
                z-index: 1000;
                position: absolute;
                justify-content: flex-start;
                width: 200px;
                display: none;
                background-color: $grisHexa;
                a{
                    color: $white;
                    padding-left: 10px;
                }
                .liste-presta{
                    height: 40px;
                    width: 200px;
                    margin-left: -40px;
                    &:hover{
                        background-color: $orangeHexa;
                        a{
                            color: $white;
                        }
                    }
                }
            }
        }
        .logo{
            margin-left: 100px;
            img{
              width: 300px;
          }
        }
        .spaceleft{
            width: 200px;
        }
        a{
            font-size: 16px;
            text-decoration: none;
            color: gray;
            &:hover{
                color: $grisHexa;
            }
       }
       .marginLink{
           margin-left: 100px;
       }
       .marginLinkright{
           margin-right: 100px;
       }
       .test:hover .sous-menu{
        display: flex;
       }
    }
    div {
        width: 30px;
        height: 30px;
         display: none; 
        #burger {
          text-decoration: none;
          margin-top: 50px;
          .icofont-navigation-menu {
            color: $orangeHexa;
            font-size: 30px;
            text-decoration: none;
          }
        }
        #close {
          .icofont-close-line {
            color: $orangeHexa;
            font-size: 30px;
            text-decoration: none;
          }
        }
      }
}
// BANIERE RESEAUX //
.reseaux{
    width: 50px;
    background: $backgroundBlancCasse;
    right: 10px;
    top: 350px;
    position: fixed;
    z-index: 10;
    display: flex;
    flex-direction: column;
    a{
        text-decoration: none;
        width: 100%;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        i{
            width: 100%;
            height: 100%;
            font-size: 30px;
            color: $grisHexa;
            display: flex;
            align-items: center;
            justify-content: center;
      }
}
}
/* MEDIA QUERIES PETIT ECRAN*/
@media screen and (orientation: portrait) {
    #navbar {
      nav {
        margin-left: -50px; 
        z-index: 1000;
        flex-direction: column;
        position: absolute;
        height: 550px;
        top: 0;
        background: $backgroundBlancCasse;
        transform: translate3d(0, -900px, 0);
        transition: all 1s;
        li{
            width: 100%;
            justify-content: center;
            .sous-menu{
                top: 300px;
                justify-content: center;
                width: 100%;
                a{
                    width: 100%;
                }
                .liste-presta{
                    width: 120%;
                }
            }
        }
        a{
          text-transform: uppercase;
        }
        .logo{
            margin-left: 0;
            margin-top: 40px;
        }
       .marginLink{
           margin-left: 0;
       }
       .marginLinkright{
           margin-right: 0;
       }
      }
      div {
        margin-top: 20px;
        display: block;
        position: absolute;
        right: 10px;
        #close {
          display: none;
          text-decoration: none;
        }
      }
    }
    header#navbar:target > nav {
      transform: translate3d(0, 0, 0);
    }
    header#navbar:target #burger {
      display: none;
    }
    header#navbar:target #close {
      display: block;
      z-index: 1000;
      position: absolute;
}
}


@media screen and (max-width: 1300px) {
  header{
    nav{
      li{
        a{
          margin: 0 20px;
        }
      }
      .logo{
        img{
          width: 200px;
        }
      }
    }
  }
}