@import "_variables";


.section-mentions{
  width: 100%;
  padding-top:50px ;
  .container-mentions {
    margin:150px auto ;
    background: $backgroundBlancCasse;
    width: 700px;
    height: 400px;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
    border: 10px solid white;
    padding: 40px;
    .h1-mentions {
      text-align: center;
      color: $orangeHexa;
    }
    .p-firstMentions{
      margin-top: 20px;
    }
    .p-mentions {
      color: $grisHexa;
      font-size: 18px;
    }
    .container-btn {
      width: 200px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 40px auto ;
      background: $orangeHexa;
      .mentions-btn {
        text-decoration: none;
        color: $white;
        text-align: center;
        text-transform: uppercase;
      }
    }
  }
}


/* MEDIA QUERIES PETIT ECRAN*/
@media screen and (orientation: portrait) {
  body {
    .container {
      width: 400px;
    }
  }
}
