@import "_variables";

@font-face {
    font-family: "icofont";
    src: url("../assets/icons/icofont.css"),
      url("../assets/icons/icofont.min.css");
    font-weight: normal;
    font-style: normal;
  }

.h1nosPresta{
  color: $orangeHexa;
  margin-top: 100px;
  width: 100%;
  text-align: center;
}
.section-nosPresta{
  width: 100%;
  padding: 50px 0px 100px 0px;
  .wrapper-presta {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px;
    background: $backgroundBlancCasse;
  }
  .prestation-list {
    display: flex;
    flex-wrap: wrap;
  }
  .prestation {
    margin: 0px 33px;
    padding: 20px;
    width: 100%;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    .title-presta{
      color: $grisHexa;
      text-align: center;
    }
    .img-prestation{
      width: 100%;
      height: 300px;
      object-fit: cover;
      margin-top: 20px;
    }
    p{
      margin-top: 20px;
      color: $gray;
      font-size: 18px;
    }
    a{
      width: 100%;
      height: 30px;
      background: $orangeHexa;
      text-decoration: none;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 20px;
    }
  }
}