@import "_variables";

@font-face {
    font-family: "icofont";
    src: url("../assets/icons/icofont.css"),
      url("../assets/icons/icofont.min.css");
    font-weight: normal;
    font-style: normal;
  }
  
.section-valeurs{
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
    padding: 40px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px; 
    .mobile{
        display: none;
    }
    article{
        width: 550px;
        height: 350px;
        display: flex;
        flex-direction: column;
        margin: 5px;
        padding: 0px 20px 0px 20px;
        h3{
            text-align: center;
            color: $orangeHexa;
            margin-top:40px ;
            font-size: 30px;
        }
        p{
            color: $gray;
            margin-top: 40px;
            font-size: 18px;
        }
    }
    aside{
        width: 550px;
        height: 350px;
        margin: 5px;
        box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

@media screen and (orientation: portrait){
    .section-valeurs{
        aside{
            margin-top: 40px;
        }
        .mobile{
            display: block;
        }
        .desk{
            display: none;
        }
    }
}