@import "_variables";

@font-face {
    font-family: "icofont";
    src: url("../assets/icons/icofont.css"),
      url("../assets/icons/icofont.min.css");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "northern_worssley_freeregular";
    src: url(/mon-site/public/assets/fonts/northern_worssley_free-webfont.woff2)
        format("woff2"),
      url(/mon-site/public/assets/fonts/northern_worssley_free-webfont.woff)
        format("woff");
    font-weight: normal;
    font-style: normal;
  }

*{
    margin: 0px;
    box-sizing: border-box;
    font-family: "northern_worssley_freeregular";
}
.reveal {
  opacity: 0;
  transform: translateY(-30px);
}
.reveal-visible {
  opacity: 1;
  transform: translateY(0);
  transition: 1s cubic-bezier(0.5, 0, 0, 1);
}
                                                      // HEADER //
@import "_header";
                                                      // FIGURE FIGCAPTION ACCUEIL //
@import "_figure";
                                                      // SECTION VALEURS //
@import "_sectionvaleurs";
                                                      // PARTIE ACTUALITÉS //
@import "_actualites";
                                                      // PAGES ARTICLES //
@import "_visualiserArticles";
                                                      // PAGES PRESTATIONS //
@import "_visualiserPrestations";
                                                      // PAGES PRESTATIONS //
@import "_presentation";
                                                      // LISTE DES ARTICLES //
@import "_nosRea";
                                                      // LISTE DES PRESTATIONS //
@import "_nosPresta";
                                                      // CONTACT //
@import "_contact";                                    
                                                      // FOOTER //
@import "_footer";
                                                      // MENTIONS //
@import "_mentions";