@import "_variables";

@font-face {
    font-family: "icofont";
    src: url("../assets/icons/icofont.css"),
      url("../assets/icons/icofont.min.css");
    font-weight: normal;
    font-style: normal;
  }

*{
    margin: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    .img-thanks{
        margin: 100px auto;
        width: 300px;
    }
    .content-thanks{
      padding: 0 40px ;
        height: 400px;
        max-width: 700px;
        margin: auto;
        background: $backgroundBlancCasse;
        border: 10px solid $white;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        .h1-thanks{
            color: $grisHexa;
            font-size: 20px;
            width: 100%;
            text-align: center;
            margin-top: 100px;
        }
        .container-btn {
            width: 200px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 40px auto ;
            background: $orangeHexa;
            margin-top: 100px;
            .button-thanks {
              text-decoration: none;
              color: $white;
              text-align: center;
              text-transform: uppercase;
            }
          }
    }
}