@import "_variables";
@font-face {
    font-family: "icofont";
    src: url("../assets/icons/icofont.css"),
      url("../assets/icons/icofont.min.css");
    font-weight: normal;
    font-style: normal;
}


.container-contact{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    .li-contact{
        width: 100%;
        margin: 20px;
        padding: 40px;
        display: flex;
        flex-direction: column;
        border: 10px solid $white;
        background: $backgroundBlancCasse;
        box-shadow: $box-shadow;
    }
}