@import "_variables";

@font-face {
    font-family: "icofont";
    src: url("../assets/icons/icofont.css"),
      url("../assets/icons/icofont.min.css");
    font-weight: normal;
    font-style: normal;
}

header{
    width: 100%;
    height: 100px;
    padding: 30px 50px 0 50px;
      nav{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-around;
        
          img{
              width: 200px;
          }
          .marginLink{
            margin-left: 500px;
          }
          a{
              text-decoration: none;
              text-transform: uppercase;
              color: $grisHexa;
          }
          .logout{
            width: 150px;
            height: 30px;
            background: $orangeHexa;
            color: $white;
            display: flex;
            align-items: center;
            justify-content: center;
          }
      }
  }
  @media screen and (orientation: portrait){
    header{
      height: 200px;
      nav{
        flex-direction: column;
        align-items: center;
        img{
          width: 150px;
        }
      }
    }
  }