@import "_variables";
@font-face {
    font-family: "icofont";
    src: url("../assets/icons/icofont.css"),
      url("../assets/icons/icofont.min.css");
    font-weight: normal;
    font-style: normal;
}

.table{
    border-collapse: collapse;
    box-shadow: $box-shadow;
    background: $backgroundBlancCasse;
    border: 10px solid $white;
    margin-top: 40px;
    th{
        border: 1px solid black;
        padding: 10px;
        width: 150px;
      }
      td{
        border: 1px solid black;
        padding: 10px;
        a{
          margin: auto;
          text-decoration: none;
          width: 100%;
          display: flex;
          justify-content: center;
          i{
            color: $orangeHexa;
        }
        }

      }
}