@import "_variables";

@font-face {
    font-family: "icofont";
    src: url("../assets/icons/icofont.css"),
      url("../assets/icons/icofont.min.css");
    font-weight: normal;
    font-style: normal;
  }


  .content{
    width: 100%;
    margin-top: 100px;
    .container-seearticle{
      max-width: 1200px;
      margin: auto;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      .img-seearticle{
        width: 550px;
        object-fit: cover;
        box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
      }
      .contenu-seearticle{
        width: 550px;
        h1{
          color: $orangeHexa !important;
          text-align: center;
        }
        p{
          color: $gray !important;
          span{
            color: $gray !important;
          }
        }
      }
    }
  }


  .galerie-seearticle{
    width: 100%;
    max-width: 1200px;
    padding: 50px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 50px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
    display: flex;
    flex-wrap: wrap;
    .wrap-seearticle{
      margin: 0px 33px;
      padding: 20px;
      width: 100%;
      max-width: 300px;
      height: 300px;
      .dir-seearticle{
        width: 100%;
        height: 100%;
        object-fit: cover;
        box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
      }
    }
}


@media screen and (orientation: portrait){
  .content{
    .container-seearticle{
      .img-seearticle{
        width: 100%;
      }
      .contenu-seearticle{
        margin-top: 40px;
      }
    }
  }
}
