@import "_variables";


 body{
    background: $backgroundBlancCasse;
    .conatinerimg{
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 80px;
        margin-bottom: 50px;
        img{
            width: 200px;
        }
    }
    .containerLogin{
        width: 400px;
        height: 400px;
        display: flex;
        justify-content: center;
        margin: auto;
        border: 5px solid $white;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;       
         .formLogin{
            margin: 10px solid black;
            .h2login{
                text-align: center;
                color: $grisHexa;
            }
            .user-box input {
                width: 100%;
                padding: 10px 0;
                font-size: 16px;
                color: $white;
                margin-bottom: 30px;
                border: none;
                border-bottom: 1px solid $white;
                outline: none;
                background: transparent;
              }
              hr{
                  margin-bottom: 40px;
              }
            .labelConnect{
                color: $orangeHexa;
            }
            .btnLogin{
                background: $grisHexa;
                color: $white;
                width: 100px;
                height: 30px;
                border: none;
                border-radius: 2px;
            }
        }
    }
} 