@import "_variables";
@font-face {
    font-family: "icofont";
    src: url("../assets/icons/icofont.css"),
      url("../assets/icons/icofont.min.css");
    font-weight: normal;
    font-style: normal;
  }


*{
    margin: 0;
    box-sizing: border-box;
  }

.h1{
  width: 100%;
  color: $orangeHexa;
  text-align: center;
  margin-top: 50px;
}
.container-form{
  padding-top: 50px;
  width: 100%;
  form{
    padding: 40px;
    border: 10px solid $white;
    background: $backgroundBlancCasse;
    box-shadow: $box-shadow;
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: column;
    .input-form{
      border: none;
      height: 40px;
    }
    .container-btn{
      width: 100%;
      height: 40px;
      display: flex;
      justify-content: center;
      button{
        width: 200px;
        height: 100%;
        margin: auto;
        border: none;
        background: $orangeHexa;
        color: $white;
        text-transform: uppercase;
      }
    }
  }
}

@import "_header";

@import "_tables";

@import "_visualiserArticle";

@import "_visualiserPresta";

@import "_contacts";